<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72LocaleMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72Locale">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="mall" jdbcType="VARCHAR" property="mall" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="monitor" jdbcType="INTEGER" property="monitor" />
    <result column="monitor_start" jdbcType="VARCHAR" property="monitorStart" />
    <result column="monitor_end" jdbcType="VARCHAR" property="monitorEnd" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  

</mapper>