<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineGoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MachineGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_type" jdbcType="INTEGER" property="activityType" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
  </resultMap>
  
  <select id="selectMachineGoods" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT
  		UUID() AS id,
		m.goods_id,
		g.`name`AS goods_name,
		m.machine_id,
		m.name AS activity_name,
		m.activity_id,
		m.activity_type,
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s') AS submit_time
	FROM
	 inno72_goods g 
		right JOIN (
	     SELECT * FROM (
				SELECT img.goods_id,m.id AS machine_id,i.`name`,i.id AS activity_id,1 AS activity_type FROM inno72_interact_machine_goods img
				LEFT JOIN inno72_interact_machine im ON im.id = img.interact_machine_id
				LEFT JOIN inno72_interact_machine_time imt ON im.id = imt.interact_machine_id
				LEFT JOIN inno72_machine m ON m.id = im.machine_id
				LEFT JOIN inno72_interact i ON i.id =im.interact_id
				WHERE  m.machine_status=4 and i.is_delete=0 AND i.`status`=1 AND img.type=0 
				AND NOW() BETWEEN imt.start_time AND imt.end_time 
				AND NOW() BETWEEN img.start_time AND img.end_time 
				UNION 
				SELECT apg.prize_id AS goods_id,m.id AS machine_id,a.`name`,ap.id AS activity_id,0 AS activity_type FROM inno72_activity_plan_game_result apg
				LEFT JOIN inno72_activity_plan ap ON ap.id = apg.activity_plan_id
				LEFT JOIN inno72_activity_plan_machine apm ON apm.activity_plan_id = apg.activity_plan_id
				LEFT JOIN inno72_machine m ON m.id = apm.machine_id 
				LEFT JOIN inno72_activity a ON a.id =ap.activity_id
				WHERE  m.machine_status=4 and ap.is_delete = 0 AND apg.prize_type = 1 AND NOW( ) BETWEEN ap.start_time AND ap.end_time
			) m 
	 )m ON m.goods_id=g.id
	ORDER BY m.machine_id
  </select>
  
  
  <insert id="insertMachineGoodsList" parameterType="java.util.List">
        insert into inno72_machine_goods (id,machine_id,goods_id,goods_name,activity_name,activity_id,activity_type,submit_time)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.machineId},#{t.goodsId},#{t.goodsName},#{t.activityName},#{t.activityId},#{t.activityType},#{t.submitTime})
        </foreach>
   </insert>
  
  
  
  
  
  
  
  
  
  
  
</mapper>