<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineMapper">
	<resultMap id="BaseResultMap" type="com.inno72.model.Inno72Machine">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="machine_name" jdbcType="VARCHAR" property="machineName" />
		<result column="locale_id" jdbcType="VARCHAR" property="localeId" />
		<result column="tag" jdbcType="VARCHAR" property="tag" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="update_id" jdbcType="VARCHAR" property="updateId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="machine_status" jdbcType="INTEGER" property="machineStatus" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="bluetooth_address" jdbcType="VARCHAR" property="bluetoothAddress" />
		<result column="monitor_start" jdbcType="VARCHAR" property="monitorStart" />
		<result column="monitor_end" jdbcType="VARCHAR" property="monitorEnd" />
	</resultMap>

	<update id="updateNetStatus" parameterType="java.util.List">
		update inno72_machine set net_status=0 where id in
		<foreach collection="list" item="machineId" index="index"
			open="(" separator="," close=")">
			#{machineId}
		</foreach>
	</update>

</mapper>
