<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineGoodsCountMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MachineGoodsCount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
  </resultMap>
  
  <select id="selectMachineGoods" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT
  		UUID() AS id,
		scg.goods_id,
		g.`name`AS goods_name,
		sum(sc.goods_count) AS num,
		sc.machine_id,
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s') AS submit_time
	FROM
		inno72_supply_channel_goods scg
		LEFT JOIN inno72_supply_channel sc ON sc.id = scg.supply_channel_id
		LEFT JOIN inno72_goods g ON scg.goods_id = g.id
		INNER JOIN (
	     SELECT * FROM (
				SELECT img.goods_id,m.id AS machine_id FROM inno72_interact_machine_goods img
				LEFT JOIN inno72_interact_machine im ON im.id = img.interact_machine_id
				LEFT JOIN inno72_interact_machine_time imt ON im.id = imt.interact_machine_id
				LEFT JOIN inno72_machine m ON m.id = im.machine_id
				LEFT JOIN inno72_interact i ON i.id =im.interact_id
				WHERE  i.is_delete=0 AND i.`status`=1  AND NOW() BETWEEN imt.start_time AND imt.end_time 
				UNION 
				SELECT apg.prize_id AS goods_id,m.id AS machine_id FROM inno72_activity_plan_game_result apg
				LEFT JOIN inno72_activity_plan ap ON ap.id = apg.activity_plan_id
				LEFT JOIN inno72_activity_plan_machine apm ON apm.activity_plan_id = apg.activity_plan_id
				LEFT JOIN inno72_machine m ON m.id = apm.machine_id 
				WHERE  ap.is_delete = 0 AND apg.prize_type = 1 AND NOW( ) BETWEEN ap.start_time AND ap.end_time
			) m GROUP BY machine_id,goods_id
	 )m ON m.goods_id=scg.goods_id AND m.machine_id=sc.machine_id
	WHERE  sc.is_delete=0  
	GROUP BY sc.machine_id,scg.goods_id
	ORDER BY sc.machine_id
  </select>
  
  
  <insert id="insertMachineGoodsCountList" parameterType="java.util.List">
        insert into inno72_machine_goods_count (id,machine_id,goods_id,goods_name,num,submit_time)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.machineId},#{t.goodsId},#{t.goodsName},#{t.num},#{t.submitTime})
        </foreach>
    </insert>
  
  
</mapper>