<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72MachineGoodsCountMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72MachineGoodsCount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="before_num" jdbcType="INTEGER" property="beforeNum" />
    <result column="add_num" jdbcType="INTEGER" property="addNum" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="selectMachineGoods" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  		UUID() AS id,
  		am.*,
  		g.`name`AS goods_name,
  		IFNULL(mgc.num,0) AS before_num,
  		IFNULL(hi.num,0) AS add_num,
  		IFNULL(scg.goods_count,0) AS num,
  		#{type} AS type,
  		DATE_FORMAT(now(),'%Y-%m-%d') AS submit_time
	from  view_machine_goods am
	left join inno72_goods g on am.goods_id=g.id
	left join (
			select machine_id,goods_id,sum(goods_count) goods_count 
			from inno72_supply_channel sc 
			left join inno72_supply_channel_goods scg on sc.id=scg.supply_channel_id
			group  by sc.machine_id,scg.goods_id
	) scg on am.machine_id=scg.machine_id and am.goods_id=scg.goods_id
	left JOIN (
			select machine_id,goods_id, sum(after_count-before_count) num 
			from inno72_supply_channel_history hi 
			where hi.after_count != hi.before_count AND LENGTH(hi.goods_id) >1
			and DATE_FORMAT(hi.create_time,'%Y-%m-%d')=DATE_FORMAT(CURRENT_DATE,'%Y-%m-%d')
			group by machine_id,goods_id
	) hi on am.machine_id=hi.machine_id and am.goods_id=hi.goods_id
	left join inno72_machine_goods_count mgc on am.goods_id=mgc.goods_id and am.machine_id=mgc.machine_id 
		and DATE_FORMAT(mgc.submit_time,'%Y-%m-%d')=DATE_FORMAT(date_sub(CURRENT_DATE,interval 1 day),'%Y-%m-%d')
  </select>
  
  
  <insert id="insertMachineGoodsCountList" parameterType="java.util.List">
        insert into inno72_machine_goods_count (id,machine_id,goods_id,goods_name,before_num,add_num,num,type,submit_time)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.machineId},#{t.goodsId},#{t.goodsName},#{t.beforeNum},#{t.addNum},#{t.num},#{t.type},#{t.submitTime})
        </foreach>
    </insert>
  
  
</mapper>